---
layout: default
---

{% include page-intro.html %}
 <!-- 在正文开头添加网易云音乐插件 -->
  {% if page.music-id %}
    {% include cloud-music.html %}
  {% endif %} 
  {{ content }}
<span id="busuanzi_container_page_pv"> | 访问量：<span id="busuanzi_value_page_pv"></span> 次</span>

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
